@use "css-template/import" as template;
@use "common";
@use "wordmark";

@mixin main {
  @include common.dialog($close-button-selector: "#about-dialog-close-button");
  width: min(calc(100% - 2rem), 40rem);
  height: min(calc(100% - 2rem), 30rem);
  min-width: calc(var(--min-page-width) - 1rem);

  padding: 1rem;
  padding-top: 2rem;
  gap: 1rem;

  // Timetabler logo.
  .wordmark {
    @include wordmark.main;
    align-self: center;
  }

  // "About timetabler"/"Licences and Attribution" titles.
  h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-ink-100);
    margin-top: 1rem;
  }

  // "Third-party packages" title.
  h2 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-ink-100);
  }
  // "About timetabler" title.
  h3 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-ink-100);
    margin-bottom: -0.5rem;
  }

  p.license {
    border-top: 2px solid var(--color-ink-30);
    border-bottom: 2px solid var(--color-ink-30);
    font-family: monospace;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 0.75rem 0rem;
  }
  p.links {
    margin-bottom: -0.5rem;
  }
}
@mixin mobile {
  width: min(calc(100% - 1rem), 40rem);
  height: calc(100% - 1rem);
}
