@mixin main {
  border: 1px solid var(--color-ink-10);
  background-color: var(--color-paper-10);
  box-shadow: 0px 2px 4px var(--color-shadow-10);
  border-radius: 0.75rem;

  overflow: hidden;

  // Allow dragging blocks on the canvas, rather than the browser thinking it
  // needs to pan the page.
  touch-action: none;

  position: relative;
  #canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
}
