$custom-colors: (
  "red": (
    "light": #ed1a2c,
    "dark": #ed1a2c,
  ),
  "on-red": (
    "light": #ffffff,
    "dark": #ffffff,
  ),
  "red-gradient-1": (
    "light": #ff3500,
    "dark": #ff3500,
  ),
  "red-gradient-2": (
    "light": #dc0057,
    "dark": #dc0057,
  ),
  "orange": (
    "light": #ee7100,
    "dark": #ee7100,
  ),
  "on-orange": (
    "light": #ffffff,
    "dark": #ffffff,
  ),
  "orange-gradient-1": (
    "light": #ffa000,
    "dark": #ffa000,
  ),
  "orange-gradient-2": (
    "light": #dc4200,
    "dark": #dc4200,
  ),
  "yellow": (
    "light": #f3c500,
    "dark": #f3c500,
  ),
  "on-yellow": (
    "light": #000000,
    "dark": #000000,
  ),
  "yellow-gradient-1": (
    "light": #e8e500,
    "dark": #e8e500,
  ),
  "yellow-gradient-2": (
    "light": #fea400,
    "dark": #fea400,
  ),
  "green": (
    "light": #47c10b,
    "dark": #47c10b,
  ),
  "on-green": (
    "light": #ffffff,
    "dark": #ffffff,
  ),
  "green-gradient-1": (
    "light": #88db00,
    "dark": #88db00,
  ),
  "green-gradient-2": (
    "light": #00a517,
    "dark": #00a517,
  ),
  "cyan": (
    "light": #00e2b6,
    "dark": #00e2b6,
  ),
  "on-cyan": (
    "light": #000000,
    "dark": #000000,
  ),
  "cyan-gradient-1": (
    "light": #00ffa4,
    "dark": #00ffa4,
  ),
  "cyan-gradient-2": (
    "light": #00c4c8,
    "dark": #00c4c8,
  ),
  "blue": (
    "light": #0084f1,
    "dark": #0084f1,
  ),
  "on-blue": (
    "light": #ffffff,
    "dark": #ffffff,
  ),
  "blue-gradient-1": (
    "light": #00b0ff,
    "dark": #00b0ff,
  ),
  "blue-gradient-2": (
    "light": #005ae4,
    "dark": #005ae4,
  ),
  "purple": (
    "light": #8200f1,
    "dark": #8200f1,
  ),
  "on-purple": (
    "light": #ffffff,
    "dark": #ffffff,
  ),
  "purple-gradient-1": (
    "light": #a900ff,
    "dark": #a900ff,
  ),
  "purple-gradient-2": (
    "light": #5c00e4,
    "dark": #5c00e4,
  ),
  "pink": (
    "light": #db00be,
    "dark": #db00be,
  ),
  "on-pink": (
    "light": #ffffff,
    "dark": #ffffff,
  ),
  "pink-gradient-1": (
    "light": #ff0098,
    "dark": #ff0098,
  ),
  "pink-gradient-2": (
    "light": #b600e4,
    "dark": #b600e4,
  ),
  "error": (
    "light": #dc0f0f,
    "dark": #ff5252,
  ),
);

@mixin accent-classes {
  &.accent-red,
  .accent-red {
    --color-accent: var(--color-red);
    --color-on-accent: var(--color-on-red);
  }
  &.accent-orange,
  .accent-orange {
    --color-accent: var(--color-orange);
    --color-on-accent: var(--color-on-orange);
  }
  &.accent-yellow,
  .accent-yellow {
    --color-accent: var(--color-yellow);
    --color-on-accent: var(--color-on-yellow);
  }
  &.accent-green,
  .accent-green {
    --color-accent: var(--color-green);
    --color-on-accent: var(--color-on-green);
  }
  &.accent-cyan,
  .accent-cyan {
    --color-accent: var(--color-cyan);
    --color-on-accent: var(--color-on-cyan);
  }
  &.accent-blue,
  .accent-blue {
    --color-accent: var(--color-blue);
    --color-on-accent: var(--color-on-blue);
  }
  &.accent-purple,
  .accent-purple {
    --color-accent: var(--color-purple);
    --color-on-accent: var(--color-on-purple);
  }
  &.accent-pink,
  .accent-pink {
    --color-accent: var(--color-pink);
    --color-on-accent: var(--color-on-pink);
  }
}
@mixin gradient-classes($direction) {
  &.gradient-red,
  .gradient-red {
    --gradient: linear-gradient(
      #{$direction},
      var(--color-red-gradient-1),
      var(--color-red-gradient-2)
    );
    --color-on-accent: var(--color-on-red);
  }
  &.gradient-orange,
  .gradient-orange {
    --gradient: linear-gradient(
      #{$direction},
      var(--color-orange-gradient-1),
      var(--color-orange-gradient-2)
    );
    --color-on-accent: var(--color-on-orange);
  }
  &.gradient-yellow,
  .gradient-yellow {
    --gradient: linear-gradient(
      #{$direction},
      var(--color-yellow-gradient-1),
      var(--color-yellow-gradient-2)
    );
    --color-on-accent: var(--color-on-yellow);
  }
  &.gradient-green,
  .gradient-green {
    --gradient: linear-gradient(
      #{$direction},
      var(--color-green-gradient-1),
      var(--color-green-gradient-2)
    );
    --color-on-accent: var(--color-on-green);
  }
  &.gradient-cyan,
  .gradient-cyan {
    --gradient: linear-gradient(
      #{$direction},
      var(--color-cyan-gradient-1),
      var(--color-cyan-gradient-2)
    );
    --color-on-accent: var(--color-on-cyan);
  }
  &.gradient-blue,
  .gradient-blue {
    --gradient: linear-gradient(
      #{$direction},
      var(--color-blue-gradient-1),
      var(--color-blue-gradient-2)
    );
    --color-on-accent: var(--color-on-blue);
  }
  &.gradient-purple,
  .gradient-purple {
    --gradient: linear-gradient(
      #{$direction},
      var(--color-purple-gradient-1),
      var(--color-purple-gradient-2)
    );
    --color-on-accent: var(--color-on-purple);
  }
  &.gradient-pink,
  .gradient-pink {
    --gradient: linear-gradient(
      #{$direction},
      var(--color-pink-gradient-1),
      var(--color-pink-gradient-2)
    );
    --color-on-accent: var(--color-on-pink);
  }
}
