@use "css-template/import" as template;

@mixin controls {
  display: grid;
  grid-template-rows: 1fr;

  border: 1px solid var(--color-ink-10);
  background-color: var(--color-paper-20);
  box-shadow: 0px 2px 4px var(--color-shadow-10);
  border-radius: 0.75rem;

  // Hide overflow from mobile-expander-button. Scrolling done inside
  // #expanded-content.
  overflow: hidden;

  .wordmark {
    color: var(--color-ink-100);
    align-self: center;
    width: 10rem;
    height: auto;
    margin-top: 0.5rem;
  }

  #expanded-content {
    display: grid;
    grid-template-rows: 1fr auto;
    flex-shrink: 1;
    min-height: 0;
    position: relative;
    .wordmark {
      margin-bottom: 1.5rem;
    }
  }

  #expanded-scroller {
    padding: 1rem;
    overflow-y: auto;
    flex-shrink: 1;
  }

  #collapsed-content {
    padding: 1rem;
    .wordmark {
      margin-bottom: 1rem;
    }
  }

  #header-row {
    @include template.row;
    h2 {
      font-size: 1rem;
      font-weight: bold;
      color: var(--color-ink-100);
    }
    button {
      @include template.button-hover;
      @include template.content-text-icon;

      padding: 0rem 0.5rem;
      height: 1.5rem;
      gap: 0.25rem;
      p {
        font-size: 0.75rem;
        font-weight: bold;
      }
    }
    margin-bottom: 1rem;
  }

  #add-class-button {
    @include template.button-filled;
    @include template.content-text-icon;
    height: 2.5rem;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    .iconify {
      font-size: 1.2rem;
    }
  }

  #empty-classes-message {
    gap: 1rem;
  }

  &.non-empty {
    #empty-classes-message {
      @include template.gone;
    }
  }

  #classes {
    gap: 1rem;
  }

  .class {
    h3 {
      margin-bottom: 0.5rem;
    }
    h4 {
      margin-bottom: 0.75rem;
      font-size: 0.75rem;
      font-weight: bold;
    }
    .options {
      @include template.picker-pills("button");
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem;

      .option {
        min-width: 0;
        flex-shrink: 1;
      }
      .button {
        --button-rounding: 0.75rem;
        height: 1.5rem;
        padding: 0rem 0.75rem;
        .one-line {
          align-self: stretch;
        }
        p {
          font-size: 0.75rem;
          color: var(--content-color);
          transition: color var(--content-color-transition);
        }
      }
    }
  }

  .status-container {
    @include template.row;
    gap: 0.75rem;

    .iconify {
      font-size: 1.2rem;
    }

    &.error {
      .no-error-icon {
        @include template.gone;
      }
    }
    &:not(.error) {
      .error-icon {
        @include template.gone;
      }
    }
  }

  #expanded-status {
    background-color: var(--color-paper-10);
    padding: 0.75rem 1rem;

    &.error {
      background-color: var(--color-error);
      p,
      .iconify {
        color: var(--color-on-accent);
      }
    }
  }
  #collapsed-status {
    &.error {
      p,
      .iconify {
        color: var(--color-error);
      }
      p {
        font-weight: bold;
      }
    }
  }

  #mobile-expander-button {
    @include template.button-hover;
    @include template.content-text-icon;
    --button-rounding: 0;
    .iconify {
      font-size: 1.2rem;
    }
  }
}

@mixin controls-mobile($collapsed-controls-height) {
  grid-template-rows: 1fr 2rem;

  &.collapsed {
    height: $collapsed-controls-height;
    #mobile-expander-button .up {
      @include template.gone;
    }
    #expanded-content {
      @include template.gone;
    }
  }
  &:not(.collapsed) {
    #mobile-expander-button .down {
      @include template.gone;
    }
    #collapsed-content {
      @include template.gone;
    }
  }
}

@mixin controls-desktop {
  #mobile-expander-button {
    @include template.gone;
  }
  #collapsed-content {
    @include template.gone;
  }
}
