@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");

$font-size: 0.9rem;
$font-display: "Merriweather", sans-serif;
$font-main: "Source Sans Pro", sans-serif;
$color-l-accent: #00a5ca;
$color-d-accent: #19d6ff;
$font-main-line-height: 1.2em;
$font-main-line-height-half-margin-correction: -0.1em;
