@use "css-template/import" as template;
@use "controls";

@include template.init();

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/inter-400.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/inter-700.woff2") format("woff2");
}

:root {
  --font-default: "Inter", sans-serif;
}

body {
  height: 100vh;
  height: 100svh;
}

#controls {
  @include controls.controls();
  z-index: 1;
  min-width: 0;
  overflow: scroll;
}
#canvas {
  background-color: var(--clr-paper-0);
  z-index: 0;
}

.gone {
  @include template.gone;
}
.flex-grow {
  @include template.flex-grow;
}

@media screen and (min-width: 40rem) {
  body {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 20rem 2fr;
    #controls {
      margin: 0.5rem;
    }
  }
}
@media screen and (min-width: 62rem) {
  body {
    grid-template-columns: 1fr 20rem 42rem 1fr;
    #controls {
      grid-column: 2;
    }
    #canvas {
      grid-column: 3;
    }
  }
}
@media screen and (max-width: 39.999rem) {
  body {
    position: relative;
    #controls {
      position: absolute;
      left: 0.5rem;
      right: 0.5rem;
      top: 0.5rem;
    }
    #canvas {
      position: absolute;
      top: 10rem;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
    }
  }
}
