@use "../css-template/import" as template;
@use "../colors";

@mixin main {
  @include colors.accent-classes;
  position: relative;

  h3 {
    margin-bottom: 0.5rem;
    margin-right: 2rem;
  }
  h4 {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 2rem;
  }
  .options {
    @include template.picker-pills("button");
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;

    .option {
      min-width: 0;
      flex-shrink: 1;
    }
    .button {
      --button-rounding: 0.75rem;
      height: 1.5rem;
      padding: 0rem 0.75rem;
      .one-line {
        align-self: stretch;
      }
      p {
        font-size: 0.75rem;
        color: var(--content-color);
        transition: color var(--content-color-transition);
      }
    }
  }
  .dropdown-container {
    position: absolute;
    top: 0;
    right: 0;

    .dropdown-button {
      @include template.button-hover;
      @include template.content-text-icon;
      height: 1.5rem;
      width: 1.5rem;
    }
    .dropdown {
      transition: opacity 0.2s, transform 0.2s, visibility 0.2s;
      position: absolute;
      z-index: 99;
      top: 1.5rem;
      right: 0;

      &:not(.open) {
        transform: translateY(-1rem);
        opacity: 0%;
        visibility: hidden;
        pointer-events: none;
      }

      .dropdown-background {
        border: 1px solid var(--color-ink-20);
        background-color: var(--color-paper-30);
        box-shadow: 0px 2px 4px var(--color-shadow-10);
        opacity: 95%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        border-radius: 0.5rem;
      }
      .dropdown-content {
        z-index: 1;
        border-radius: 0.5rem;
        overflow: hidden;
      }
    }
  }
  .menu-dropdown .dropdown-content {
    padding: 0.5rem 0rem;

    button {
      @include template.button-hover;
      @include template.content-text;
      --button-rounding: 0;
      height: 2rem;
      padding: 0rem 1rem;
      justify-content: start;
    }
  }
  .delete-dropdown .dropdown-content {
    padding: 1rem 1rem;
    align-items: flex-start;
    gap: 0.5rem;

    p {
      width: max-content;
    }
    button {
      @include template.button-filled;
      @include template.content-text;
      height: 2rem;
      padding: 0rem 1rem;
      width: 10rem;
    }
  }
}
