@use "../css-template/import" as template;
@use "status";
@use "wordmark";
@use "class-ui";

@mixin main {
  // Use grid layout to separate the scrolling content from the status, so the
  // status is always visible at the bottom (or just above the mobile expander
  // button on mobile view) regardless of scroll position.
  display: grid;
  grid-template-rows: 1fr auto;

  // Ensures the collapsed content doesn't exceed the length the #controls div
  // assigns it. If the content is too large, the #expanded-scroller can scroll
  // instead.
  min-height: 0;
  position: relative;

  // Contains everything within the expanded controls, except the status
  // message.
  #expanded-scroller {
    @include content;

    padding: 1rem;

    // Enable scrolling.
    overflow-y: auto;
  }

  #expanded-status {
    @include status.expanded;
  }
}

// Responsible for styling everything inside the scrolling section of the
// expanded content.
@mixin content {
  // The Timetabler logo.
  .wordmark {
    @include wordmark.main;
    align-self: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  // Arranges the "My classes" title, import, and export buttons in a row.
  #header-row {
    @include template.row;

    // The "My classes" title.
    h2 {
      font-size: 1rem;
      font-weight: bold;
      color: var(--color-ink-100);
    }

    // The import/export button styles.
    button {
      @include template.button-hover;
      @include template.content-text-icon;
      padding: 0rem 0.5rem;
      height: 1.5rem;
      gap: 0.25rem;

      p {
        font-size: 0.75rem;
        font-weight: bold;
      }
    }
    margin-bottom: 1rem;
  }

  // The "Add class" button.
  #add-class-button {
    @include template.button-filled;
    @include template.content-text-icon;
    height: 2.5rem;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    .iconify {
      font-size: 1.2rem;
    }
  }

  // The message which shows when the timetable has no classes.
  #expanded-empty-message {
    // Add space between the paragraphs in the message.
    gap: 1rem;
  }

  #classes {
    // Add space between each class's UI.
    gap: 1rem;

    .class {
      @include class-ui.main;
    }
  }
}

// Applied when the ".non-empty" class is applied to the "#controls".
@mixin non-empty {
  // Hide the intro message when there's class to display there instead.
  #expanded-empty-message {
    @include template.gone;
  }
}

// Applied when the ".non-empty" class is NOT applied to the "#controls".
@mixin empty {
  grid-template-rows: 1fr;

  #expanded-status {
    @include template.gone;
  }
}
