@use "../css-template/import" as template;
@use "status";
@use "wordmark";
@use "main-menu";

@mixin main {
  // Use grid layout to separate the scrolling content from the status, so the
  // status is always visible at the bottom (or just above the mobile expander
  // button on mobile view) regardless of scroll position.
  display: grid;
  grid-template-rows: 1fr auto;

  // Ensures the collapsed content doesn't exceed the length the #controls div
  // assigns it. If the content is too large, the #expanded-scroller can scroll
  // instead.
  min-height: 0;
  position: relative;

  // Contains everything within the expanded controls, except the status
  // message.
  #expanded-scroller {
    // The Timetabler logo.
    .wordmark {
      @include wordmark.main;
      align-self: center;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }

    #main-menu {
      @include main-menu.main;
    }

    padding: 1rem;

    // Enable scrolling.
    overflow-y: auto;
  }

  #expanded-status {
    @include status.expanded;
  }
}

// Applied by media query when the screen too narrow.
@mixin mobile {
  #expanded-status {
    @include status.expanded-mobile;
  }
}

// Applied when the ".non-empty" class is applied to the "#controls".
@mixin non-empty {
  // Hide the intro message when there's class to display there instead.
  #expanded-empty-message {
    @include template.gone;
  }
}

// Applied when the ".non-empty" class is NOT applied to the "#controls".
@mixin empty {
  @include hide-status;
}

// Hides the expanded status and removes the row from the grid for it.
@mixin hide-status {
  grid-template-rows: 1fr;

  #expanded-status {
    @include template.gone;
  }
}
