@use "../css-template/import" as template;
@use "main-page";

// The styles applied to the dialog element.
@mixin main {
  @include template.dialog;
  border-radius: 0.75rem;

  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
  opacity: 1;
  visibility: visible;

  width: min(calc(100% - 2rem), 50rem);
  height: min(calc(100% - 2rem), 40rem);
  min-width: calc(var(--min-page-width) - 1rem);
  max-height: calc(100% - 2rem);
  z-index: 2;

  &:not([open]) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-50%, calc(1rem - 50%));
    min-width: 0;

    // Instead of display: none;
    display: flex;
  }

  #edit-class-main-page {
    @include main-page.main;
  }
}
@mixin mobile {
  width: min(calc(100% - 1rem), 60rem);
  max-height: calc(100% - 1rem);
  height: calc(100% - 1rem);
}
