@use "../css-template/import" as template;
@use "picker-swatches";
@use "../colors";
@use "dialog-common";

// The styles applied to the edit class menu.
@mixin main {
  flex-grow: 1;
  padding: 1rem;
  gap: 1rem;

  // The "back" button.
  #edit-class-option-page-back-button {
    @include template.button-filled-neutral;
    @include template.content-text-icon;
    padding: 0rem 0.5rem;
    height: 1.5rem;
    gap: 0.25rem;
    align-self: flex-start;
    margin-bottom: 0.5rem;

    p {
      font-size: 0.75rem;
      font-weight: bold;
    }
  }

  // The "Edit/add class" title.
  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-ink-100);
  }
  > .message {
    margin-top: -0.5rem;
  }

  #edit-class-option-page-submit-error-ui,
  #edit-class-option-page-block-error-ui {
    @include dialog-common.error-ui;
  }

  // Only show the submit error UI when the .submit-error class is on the option
  // page.
  &:not(.submit-error) {
    .when-submit-error {
      @include template.gone;
    }
  }

  // Only show the block error UI when the .block-error class is on the option
  // page.
  &:not(.block-error) {
    .when-block-error {
      @include template.gone;
    }
  }

  #edit-class-option-page-time-block-ui {
    border: 2px solid var(--color-ink-30);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;

    h3 {
      font-weight: bold;
      color: var(--color-ink-100);
    }

    .label {
      margin-bottom: 0.5rem;
    }
    > .label {
      margin-bottom: -0.5rem;
    }

    #edit-class-option-page-dow-wrapper {
      @include template.select-filled-neutral;
      select {
        height: 2rem;
        padding: 0rem 1rem;
      }
    }
    #edit-class-option-page-time-input {
      @include template.input-filled-neutral;
      height: 2rem;
      padding: 0rem 1rem;
    }
    .duration-row {
      @include template.row;
      gap: 0.5rem;

      #edit-class-option-page-duration-input {
        @include template.input-filled-neutral;
        height: 2rem;
        padding: 0rem 1rem;
        flex-grow: 1;
        min-width: 0;
        flex-shrink: 1;
        max-width: 5rem;
      }
      .unit-picker {
        @include template.picker-subtle;
        @include template.row;
        > p {
          color: var(--color-ink-50);
        }
        .picker-content {
          @include template.content-text;
        }
      }
    }
    #edit-class-option-page-online-switch-label {
      @include template.checkbox-switch;
      .switch-content {
        @include template.content-text;
        margin-left: 1rem;
      }
    }
    #edit-class-option-page-add-block-button {
      @include template.button-filled;
      @include template.content-text-icon;
      height: 2.5rem;
      gap: 0.5rem;
      .icon {
        font-size: 1.2rem;
      }
    }
  }

  #edit-class-option-page-blocks-container {
    flex-grow: 1;
    min-height: 8rem;

    h3 {
      font-weight: bold;
      color: var(--color-ink-100);
      margin-bottom: 0.5rem;
    }
    &.non-empty .when-empty {
      @include template.gone;
    }

    .block {
      @include template.row;
      overflow: hidden;

      .one-line {
        flex-grow: 1;
      }
      .delete-button {
        @include template.button-hover;
        @include template.content-text-icon;
        width: 2rem;
        height: 2rem;
        .icon {
          font-size: 1.2rem;
        }
      }
    }
  }
  #edit-class-option-page-submit-button {
    @include template.button-filled;
    @include template.content-text-icon;
    height: 2.5rem;
    gap: 0.5rem;
    .icon {
      font-size: 1.2rem;
    }
  }
}
