@use "../css-template/import" as template;
@use "class-editor";
@use "option-editor";

// The styles applied to the dialog element.
@mixin main {
  @include template.dialog;
  border-radius: 0.75rem;

  width: min(calc(100% - 2rem), 30rem);
  height: min(calc(100% - 2rem), 48rem);
  min-width: calc(var(--min-page-width) - 1rem);
  max-height: calc(100% - 2rem);
  z-index: 2;

  // For the open/close animation.
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
  opacity: 1;
  visibility: visible;

  &:not([open]) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-50%, calc(1rem - 50%));
    min-width: 0;

    // Instead of display: none;
    display: flex;
  }

  // The close button.
  #class-editor-dialog-close-button {
    @include template.button-hover;
    @include template.content-text-icon;
    --button-rounding: 0.5rem;
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 0.5rem;
    right: 0.5rem;
    .icon {
      font-size: 1.2rem;
    }
  }

  #class-editor {
    @include class-editor.main;
  }

  #option-editor {
    @include option-editor.main;
  }

  &.option-page #class-editor {
    @include template.gone;
  }

  &:not(.option-page) #option-editor {
    @include template.gone;
  }
}

// The styles applied to the dialog element when in mobile view.
@mixin mobile {
  width: min(calc(100% - 1rem), 30rem);
  max-height: calc(100% - 1rem);
  height: calc(100% - 1rem);
}
