@use "../css-template/import" as template;
@use "class-editor";
@use "option-editor";
@use "bulk-editor";
@use "../common";

// The styles applied to the dialog element.
@mixin main {
  @include common.dialog(
    $close-button-selector: "#class-editor-dialog-close-button"
  );
  width: min(calc(100% - 2rem), 30rem);
  height: min(calc(100% - 2rem), 45rem);
  min-width: calc(var(--min-page-width) - 1rem);

  #class-editor {
    @include class-editor.main;
  }

  #option-editor {
    @include option-editor.main;
  }

  #bulk-editor {
    @include bulk-editor.main;
  }

  #class-editor,
  #option-editor,
  #bulk-editor {
    transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
    visibility: visible;
    opacity: 1;
  }

  &.edit-option #class-editor,
  &.edit-bulk #class-editor {
    @include fade-out;
    transform: translate(-1rem, 0rem);
  }

  &:not(.edit-option) #option-editor {
    @include fade-out;
    transform: translate(1rem, 0rem);
  }

  &:not(.edit-bulk) #bulk-editor {
    @include fade-out;
    transform: translate(1rem, 0rem);
  }
}

@mixin fade-out {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}

// The styles applied to the dialog element when in mobile view.
@mixin mobile {
  width: min(calc(100% - 1rem), 30rem);
  max-height: calc(100% - 1rem);
  height: calc(100% - 1rem);
}
