include icons.pug

mixin bulk-editor
  div&attributes(attributes)
    //- The "Back" button.
    button#bulk-editor-back-button
      +icon("uil:angle-left-b")
      p BACK

    //- Title.
    h2 Paste timetable options

    //- Instructions message.
    p#bulk-editor-message
      | Highlight the entire table of options in Allocate+ and paste it here.
      | If you're lucky, Timetabler will be able to extract the details it needs
      | and generate the list of timetable options for you!

    textarea#bulk-editor-textarea(autocomplete="off")

    //- Error message UI. Hides when not in use. Only shows errors that occur
    //- when clicking the button below.
    #bulk-editor-error-ui
      +icon("uil:exclamation-circle")
      p#bulk-editor-error-text

    //- The "Add options to class" button.
    button#bulk-editor-submit-button
      +icon("uil:check")
      p Add options to class
