include icons.pug

mixin edit-class-option-page
  div&attributes(attributes)
    button#edit-class-option-page-back-button
      +icon("uil:angle-left-b")
      p BACK

    h2 New option
    p.message
      | The same option can have multiple time blocks which must be taken
      | together. Add as many time blocks as you need, then hit "add option". In
      | most cases, you'll probably only want one.

    #edit-class-option-page-time-block-ui
      h3 Add time block
      label
        p.label Day the of week
        #edit-class-option-page-dow-wrapper
          select#edit-class-option-page-dow-select(autocomplete="off")
            option(value="0") Monday
            option(value="1") Tuesday
            option(value="2") Wednesday
            option(value="3") Thursday
            option(value="4") Friday
            option(value="5") Saturday
            option(value="6") Sunday
          .select-highlight
            .select-arrow
      label.text-input
        p.label Start time
        input#edit-class-option-page-time-input(type="text", autocomplete="off", placeholder="e.g. 11:30am")

      p.label Duration
      .duration-row
        input#edit-class-option-page-duration-input(type="text", autocomplete="off")
        .unit-picker
          label
            input#edit-class-option-page-hours-radio(type="radio", name="edit-class-option-page-duration", autocomplete="off")
            .picker-content
              p hrs
          p /
          label
            input#edit-class-option-page-minutes-radio(type="radio", name="edit-class-option-page-duration", autocomplete="off")
            .picker-content
              p mins

      label#edit-class-option-page-online-switch-label
        input#edit-class-option-page-online-switch(type="checkbox", autocomplete="off")
        div
          .switch-graphic
          .switch-content
            p Online

      #edit-class-option-page-block-error-ui.when-block-error
        +icon("uil:exclamation-circle")
        p#edit-class-option-page-block-error-text

      button#edit-class-option-page-add-block-button
        +icon("uil:plus")
        p.when-new Add time block

    #edit-class-option-page-blocks-container
      h3 Time blocks
      p.when-empty
        | You haven't added any time blocks to this option yet. Once you do
        | they'll show up here.
      #edit-class-option-page-blocks

    #edit-class-option-page-submit-error-ui.when-submit-error
      +icon("uil:exclamation-circle")
      p#edit-class-option-page-submit-error-text

    button#edit-class-option-page-submit-button
      +icon("uil:check")
      p.when-new Add option to class
