include iconify.pug

mixin status()
  .status-container.error&attributes(attributes)
    +iconify("uil:check").no-error-icon
    +iconify("uil:exclamation-circle").error-icon
    p Some classes clash

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Timetabler &ndash; Visualise your uni timetable preferences
    meta(name="description", content="A tool to help choose options on a timetable where there might be multiple classes running! Allows you to quickly select different time slots and checks for clashes for you as you go.")
    link(rel="shortcut icon", href="/favicon.svg", type="image/x-icon")
    link(rel="stylesheet", href="/main.css")
    script(src="/main.js", defer)
  body
    section#controls
      #expanded-content
        #expanded-scroller
          include timetabler-logo-svg.pug
          +timetabler-logo("logo1").wordmark

          #header-row
            h2 My Classes
            .flex-grow
            button#import-button
              +iconify("uil:import")
              p IMPORT
            button#export-button
              +iconify("uil:export")
              p EXPORT

          button#add-class-button
            +iconify("uil:plus")
            p Add class

          #empty-classes-message
            p
              | Start by adding your classes, which will then show up here.
            p
              | If you'd prefer, you can provide your classes by writing a .json
              | file and clicking "import" above. An
              | <a class="link" href="/example.json" download>example .json file</a>
              | and
              | <a class="link" href="https://github.com/schel-d/timetabler">guide</a>
              | are available to get you started.

          #classes

        +status#expanded-status

      #collapsed-content
        include timetabler-logo-svg.pug
        +timetabler-logo("logo2").wordmark
        +status#collapsed-status

      button#mobile-expander-button
        +iconify("uil:angle-down").down
        +iconify("uil:angle-up").up

    #canvas-container
      canvas#canvas
