include icons.pug

mixin status()
  .status-container&attributes(attributes)
    +icon("uil:check").when-valid
    p.when-valid No timetable clashes
    +icon("uil:eye-slash").when-unallocated
    p.when-unallocated Some classes unallocated
    +icon("uil:exclamation-circle").when-clash
    p.when-clash Some choices clash

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Timetabler &ndash; Visualise your uni timetable preferences
    meta(name="description", content="A tool designed to help you visualise your uni timetable preferences while you choose them.")
    link(rel="shortcut icon", href="/favicon.svg", type="image/x-icon")
    link(rel="stylesheet", href="/main.css")
    script(src="/main.js", defer)
    script(src="/error.js")
  body
    section#controls
      #expanded-content
        #expanded-scroller
          include timetabler-logo-svg.pug
          +timetabler-logo("logo1").wordmark

          include main-menu.pug
          +main-menu#main-menu

        +status#expanded-status

      #collapsed-content
        include timetabler-logo-svg.pug
        +timetabler-logo("logo2").wordmark
        +status#collapsed-status

        p#collapsed-empty-message No classes yet - try adding some first

      button#mobile-expander-button
        +icon("uil:angle-down").when-collapsed
        p.when-collapsed Edit classes
        +icon("uil:angle-up").when-expanded
        p.when-expanded Show timetable

    section#canvas-container
      canvas#canvas

    include class-editor-dialog.pug
    +class-editor-dialog#class-editor-dialog

    include about-dialog.pug
    +about-dialog#about-dialog
