include icons.pug

mixin main-menu
  div&attributes(attributes)
    #header-row
      h2 My classes
      .flex-grow
      button#import-button
        +icon("uil:import")
        p IMPORT
      button#export-button
        +icon("uil:export")
        p EXPORT

    button#add-class-button
      +icon("uil:plus")
      p Add class

    #expanded-empty-message
      p
        | Start by adding your classes, which will then show up here.
      p
        | If you prefer, you can provide your classes by writing a .json
        | file and clicking "import" above. An
        | <a class="link" href="/example.json" download>example .json file</a>
        | and
        | <a class="link" href="https://github.com/schel-d/timetabler">guide</a>
        | are available to get you started.

    #classes
