@keyframes odometer-in {
  from {
    opacity: 0%;
    transform: translate(0, -0.5rem);
  }
  to {
    opacity: 100%;
    transform: translate(0, 0rem);
  }
}
@keyframes odometer-out {
  from {
    opacity: 100%;
    transform: translate(0, 0rem);
  }
  to {
    opacity: 0%;
    transform: translate(0, 0.25rem);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

div,
a,
dialog,
main,
nav,
section,
header,
footer,
aside,
form,
button,
body {
  display: flex;
  flex-direction: column;
}

dialog:not([open]) {
  display: none;
}

:root,
dialog::backdrop {
  --color-light-paper-0: hsl(220deg, 25%, 90%);
  --color-light-paper-10: hsl(220deg, 30%, 93.5%);
  --color-light-paper-20: hsl(220deg, 35%, 97%);
  --color-light-paper-30: hsl(220deg, 40%, 100%);
  --color-light-ink-100: hsl(220deg, 100%, 0%);
  --color-light-ink-90: hsla(220deg, 100%, 2%, 0.9);
  --color-light-ink-80: hsla(220deg, 100%, 4%, 0.8);
  --color-light-ink-70: hsla(220deg, 100%, 6%, 0.7);
  --color-light-ink-60: hsla(220deg, 100%, 8%, 0.6);
  --color-light-ink-50: hsla(220deg, 100%, 10%, 0.5);
  --color-light-ink-40: hsla(220deg, 100%, 12%, 0.4);
  --color-light-ink-30: hsla(220deg, 100%, 14%, 0.3);
  --color-light-ink-20: hsla(220deg, 100%, 16%, 0.2);
  --color-light-ink-10: hsla(220deg, 100%, 18%, 0.1);
  --color-light-accent: hsl(210deg, 100%, 45%);
  --color-light-on-accent: #ffffff;
  --color-light-shadow-100: black;
  --color-light-shadow-30: rgba(0, 0, 0, 0.7);
  --color-light-shadow-20: rgba(0, 0, 0, 0.4);
  --color-light-shadow-10: rgba(0, 0, 0, 0.1);
  --color-dark-paper-0: hsl(220deg, 15%, 2%);
  --color-dark-paper-10: hsl(220deg, 16%, 7%);
  --color-dark-paper-20: hsl(220deg, 17%, 12%);
  --color-dark-paper-30: hsl(220deg, 18%, 17%);
  --color-dark-ink-100: hsl(220deg, 100%, 100%);
  --color-dark-ink-90: hsla(220deg, 100%, 98%, 0.9);
  --color-dark-ink-80: hsla(220deg, 100%, 96%, 0.8);
  --color-dark-ink-70: hsla(220deg, 100%, 94%, 0.7);
  --color-dark-ink-60: hsla(220deg, 100%, 92%, 0.6);
  --color-dark-ink-50: hsla(220deg, 100%, 90%, 0.5);
  --color-dark-ink-40: hsla(220deg, 100%, 88%, 0.4);
  --color-dark-ink-30: hsla(220deg, 100%, 86%, 0.3);
  --color-dark-ink-20: hsla(220deg, 100%, 84%, 0.2);
  --color-dark-ink-10: hsla(220deg, 100%, 82%, 0.1);
  --color-dark-accent: hsl(210deg, 100%, 70%);
  --color-dark-on-accent: #000000;
  --color-dark-shadow-100: black;
  --color-dark-shadow-30: rgba(0, 0, 0, 0.8);
  --color-dark-shadow-20: rgba(0, 0, 0, 0.6);
  --color-dark-shadow-10: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--color-paper-10);
}

:root,
dialog::backdrop {
  --color-paper-0: var(--color-light-paper-0);
  --color-paper-10: var(--color-light-paper-10);
  --color-paper-20: var(--color-light-paper-20);
  --color-paper-30: var(--color-light-paper-30);
  --color-ink-100: var(--color-light-ink-100);
  --color-ink-90: var(--color-light-ink-90);
  --color-ink-80: var(--color-light-ink-80);
  --color-ink-70: var(--color-light-ink-70);
  --color-ink-60: var(--color-light-ink-60);
  --color-ink-50: var(--color-light-ink-50);
  --color-ink-40: var(--color-light-ink-40);
  --color-ink-30: var(--color-light-ink-30);
  --color-ink-20: var(--color-light-ink-20);
  --color-ink-10: var(--color-light-ink-10);
  --color-accent: var(--color-light-accent);
  --color-on-accent: var(--color-light-on-accent);
  --color-shadow-100: var(--color-light-shadow-100);
  --color-shadow-30: var(--color-light-shadow-30);
  --color-shadow-20: var(--color-light-shadow-20);
  --color-shadow-10: var(--color-light-shadow-10);
}

@media (prefers-color-scheme: dark) {
  :root,
dialog::backdrop {
    --color-paper-0: var(--color-dark-paper-0);
    --color-paper-10: var(--color-dark-paper-10);
    --color-paper-20: var(--color-dark-paper-20);
    --color-paper-30: var(--color-dark-paper-30);
    --color-ink-100: var(--color-dark-ink-100);
    --color-ink-90: var(--color-dark-ink-90);
    --color-ink-80: var(--color-dark-ink-80);
    --color-ink-70: var(--color-dark-ink-70);
    --color-ink-60: var(--color-dark-ink-60);
    --color-ink-50: var(--color-dark-ink-50);
    --color-ink-40: var(--color-dark-ink-40);
    --color-ink-30: var(--color-dark-ink-30);
    --color-ink-20: var(--color-dark-ink-20);
    --color-ink-10: var(--color-dark-ink-10);
    --color-accent: var(--color-dark-accent);
    --color-on-accent: var(--color-dark-on-accent);
    --color-shadow-100: var(--color-dark-shadow-100);
    --color-shadow-30: var(--color-dark-shadow-30);
    --color-shadow-20: var(--color-dark-shadow-20);
    --color-shadow-10: var(--color-dark-shadow-10);
  }

  :root,
dialog::backdrop {
    color-scheme: dark;
  }
}
:root {
  --button-rounding: 0.25rem;
  --button-outline: 1px;
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
button[disabled], button:disabled,
input[type=button][disabled],
input[type=button]:disabled,
input[type=submit][disabled],
input[type=submit]:disabled,
input[type=reset][disabled],
input[type=reset]:disabled {
  cursor: default;
}

input[type=button],
input[type=submit],
input[type=reset] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  line-height: 1em;
}
input[type=button][disabled], input[type=button]:disabled,
input[type=submit][disabled],
input[type=submit]:disabled,
input[type=reset][disabled],
input[type=reset]:disabled {
  cursor: default;
}

:root {
  --input-rounding: 0.25rem;
  --input-outline: 2px;
  --input-outline-disabled: var(--input-outline);
}

input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

:root {
  --min-page-width: 20rem;
  --page-width: 64rem;
}

body {
  min-width: var(--min-page-width);
}

:root {
  --font-default: sans-serif;
  --font-size-default: 1rem;
  --line-spacing: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
input,
select {
  font-family: var(--font-default);
  font-size: var(--font-size-default);
  font-weight: normal;
  color: var(--color-ink-80);
}

input::placeholder {
  opacity: 100%;
  color: var(--color-ink-50);
}

.iconify {
  color: var(--color-ink-80);
  width: 1em;
  height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: calc(1em + var(--line-spacing));
  text-align: left;
}
h1::before, h1::after,
h2::before,
h2::after,
h3::before,
h3::after,
h4::before,
h4::after,
h5::before,
h5::after,
h6::before,
h6::after,
p::before,
p::after {
  content: "";
  margin-top: calc(var(--line-spacing) / -2);
  height: 0;
  display: block;
}

a,
i,
em,
b,
strong,
span {
  font: inherit;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/ah-400.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/ah-700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --font-default: "Atkinson Hyperlegible", sans-serif;
}

body {
  height: 100vh;
  height: 100svh;
}

#controls {
  border: 1px solid var(--color-ink-10);
  background-color: var(--color-paper-20);
  box-shadow: 0px 2px 4px var(--color-shadow-10);
  border-radius: 0.75rem;
  padding: 1rem;
  position: relative;
  z-index: 1;
  min-width: 0;
  overflow: scroll;
}
#controls #wordmark {
  color: var(--color-ink-100);
  align-self: center;
  width: 10rem;
  height: auto;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
#controls #header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
#controls #header-row h2 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-ink-100);
}
#controls #header-row button {
  position: relative;
  --content-color: var(--color-ink-80);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.5rem;
  height: 1.5rem;
  gap: 0.25rem;
}
#controls #header-row button > * {
  z-index: 1;
}
#controls #header-row button::before {
  z-index: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--button-rounding);
}
#controls #header-row button:disabled > *, #controls #header-row button[disabled] > * {
  opacity: 50%;
}
#controls #header-row button::before {
  transition: background-color 0.05s;
}
#controls #header-row button:hover::before, #controls #header-row button:focus-visible::before {
  background-color: var(--color-ink-10);
}
#controls #header-row button:active::before {
  background-color: var(--color-ink-20);
}
#controls #header-row button:disabled::before, #controls #header-row button[disabled]::before {
  background-color: transparent;
}
#controls #header-row button > p,
#controls #header-row button > .iconify {
  color: var(--content-color);
  transition: color var(--content-color-transition);
}
#controls #header-row button p {
  font-size: 0.75rem;
  font-weight: bold;
}
#controls #add-class-button {
  position: relative;
  --content-color: var(--color-ink-80);
  --content-color: var(--color-on-accent);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
#controls #add-class-button > * {
  z-index: 1;
}
#controls #add-class-button::before {
  z-index: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--button-rounding);
}
#controls #add-class-button:disabled > *, #controls #add-class-button[disabled] > * {
  opacity: 50%;
}
#controls #add-class-button::before {
  transition: opacity 0.05s;
  background-color: var(--color-accent);
  opacity: 80%;
}
#controls #add-class-button:hover::before, #controls #add-class-button:focus-visible::before {
  opacity: 100%;
}
#controls #add-class-button:active::before {
  opacity: 60%;
}
#controls #add-class-button:disabled, #controls #add-class-button[disabled] {
  --content-color: var(--color-ink-80);
}
#controls #add-class-button:disabled::before, #controls #add-class-button[disabled]::before {
  opacity: 100%;
  background-color: transparent;
  border: var(--button-outline) solid var(--color-ink-10);
}
#controls #add-class-button > p,
#controls #add-class-button > .iconify {
  color: var(--content-color);
  transition: color var(--content-color-transition);
}
#controls #add-class-button .iconify {
  font-size: 1.2rem;
}
#controls .class .one-line > :is(h1, h2, h3, h4, h5, h6, p) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0.25em;
  flex-shrink: 1;
}
#controls .class .one-line::after {
  content: "";
  margin-bottom: -0.25em;
  height: 0;
  display: block;
}
#controls .class h3 {
  margin-bottom: 0.75rem;
}
#controls .class h4 {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
}
#controls .class .options {
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}
#controls .class .options > label {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
#controls .class .options > label > input[type=radio] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#controls .class .options > label > input[type=radio] + .button {
  --content-color: var(--color-ink-80);
  --content-color-transition: 0.1s;
}
#controls .class .options > label > input[type=radio] + .button {
  align-items: center;
  justify-content: center;
  background-color: var(--color-ink-10);
  transition: background-color 0.1s;
  border-radius: var(--button-rounding);
}
#controls .class .options > label > input[type=radio]:hover + .button,
#controls .class .options > label > input[type=radio]:focus-visible + .button {
  background-color: var(--color-ink-20);
}
#controls .class .options > label > input[type=radio]:active + .button {
  background-color: var(--color-ink-30);
}
#controls .class .options > label > input[type=radio]:checked + .button {
  background-color: var(--color-accent);
  --content-color: var(--color-on-accent);
}
#controls .class .options .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  --button-rounding: 0.75rem;
  height: 1.5rem;
  padding: 0rem 0.75rem;
}
#controls .class .options .button > p {
  color: var(--content-color);
  transition: color var(--content-color-transition);
}
#controls .class .options .button p {
  font-size: 0.75rem;
}
#controls #mobile-expander-button {
  position: relative;
  --content-color: var(--color-ink-80);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  height: 2rem;
  width: 2rem;
}
#controls #mobile-expander-button > * {
  z-index: 1;
}
#controls #mobile-expander-button::before {
  z-index: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--button-rounding);
}
#controls #mobile-expander-button:disabled > *, #controls #mobile-expander-button[disabled] > * {
  opacity: 50%;
}
#controls #mobile-expander-button::before {
  transition: background-color 0.05s;
}
#controls #mobile-expander-button:hover::before, #controls #mobile-expander-button:focus-visible::before {
  background-color: var(--color-ink-10);
}
#controls #mobile-expander-button:active::before {
  background-color: var(--color-ink-20);
}
#controls #mobile-expander-button:disabled::before, #controls #mobile-expander-button[disabled]::before {
  background-color: transparent;
}
#controls #mobile-expander-button > p,
#controls #mobile-expander-button > .iconify {
  color: var(--content-color);
  transition: color var(--content-color-transition);
}
#controls #mobile-expander-button .iconify {
  font-size: 1.2rem;
}

#canvas-container {
  background-color: var(--color-paper-0);
  z-index: 0;
  position: relative;
}
#canvas-container #canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.gone {
  display: none !important;
}

.flex-grow {
  flex-grow: 1;
}

@media screen and (min-width: 40rem) {
  body {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 20rem 2fr;
  }
  body #controls {
    margin: 0.5rem;
  }
  body #controls #mobile-expander-button {
    display: none !important;
  }
  body #controls #collapsed-content {
    display: none !important;
  }
}
@media screen and (min-width: 64rem) {
  body {
    grid-template-columns: 1fr 20rem 43rem 1fr;
  }
  body #controls {
    grid-column: 2;
  }
  body #canvas-container {
    grid-column: 3;
  }
}
@media screen and (max-width: 39.999rem) {
  body {
    position: relative;
  }
  body #controls {
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    top: 0.5rem;
  }
  body #controls.collapsed {
    height: 9rem;
  }
  body #controls.collapsed #mobile-expander-button .up {
    display: none !important;
  }
  body #controls.collapsed #expanded-content {
    display: none !important;
  }
  body #controls:not(.collapsed) #mobile-expander-button .down {
    display: none !important;
  }
  body #controls:not(.collapsed) #collapsed-content {
    display: none !important;
  }
  body #canvas-container {
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
